/* css */ 
nav ul {
    display: flex;
    height: 50px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    margin: auto;
    background-color: #db522c;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #5c382e;
    font-family: 'Anton', sans-serif;
    display: flex;
}

nav ul li ul {
    visibility: hidden;
    position: absolute;
    display: none;
}

ul li:hover > ul, 
ul li:focus-within > ul, 
ul li ul:hover, 
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
    padding: 10px 60px 60px 15px;
}

nav li:hover, nav li:focus-within {
    background-color: #5c382e;
}

body {
    margin: 0;
}

ul li ul li {
    width: 100%;
    padding: 5px;
}

.margin > ul li ul li {
    padding: 0;
}

/* resume */ 

.main-content {
    display: block;
}

.wrapper {
    max-width: 1200px;
    max-height: 900px;
    margin: 100px auto 100px auto;
}

.box {
    background-color: white;
    padding: 30px;
}

.blue {
    background-color: #7a98f1;
}

.group {
    display: flex; 
    justify-content: space-between;
    margin: 30px 0;
}

.margin {
    margin-right: 300px
}

hr.solid {
    border-top: 3px solid black;
}

.tab1 {
    margin-left: 4em;
}

.tab2 {
    margin-left: 6em;
}

.tab3 {
    margin-left: 8em;
}